@import '../../styles/styles.scss';

.shadow-light {
  box-shadow: 0 0px 8px -1px rgb(138, 137, 137);
}

.nav-bar :global {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-nav);
  height: 80px;
  padding: 0 80px 0 81px;

  h1 {
    font-size: $fontSizeDesktopXL;
    font-family: $mainFont800;
  }

  .dark-mode-toggle-wrapper {
    cursor: pointer;
    display: flex;
    font-family: $mainFont600;
    font-size: $fontSizeDesktopL;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }
  }
}
