@import '../../../styles/styles.scss';

.home :global {
  @include page-mixin;
  .controls {
    display: flex;
    justify-content: space-between;

    @media (max-width: 850px) {
      flex-direction: column;
      gap: 40px;
    }
    @media (max-width: 700px) {
      justify-content: center;
    }
  }
}
