@import '../../../styles/styles.scss';

.region-drop-down :global {
  position: relative;
  .button-wrapper {
    @include box-mixin;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 56px;

    div {
      margin-left: 24px;
    }
    img {
      margin-right: 22px;
      width: 12px;
    }
  }

  .region-select {
    position: absolute;
    @include box-mixin;
    margin-top: 4px;
    width: 200px;
    padding: 8px 24px;

    .region-option {
      padding: 8px 0;
    }
  }
}
