@import '../../../styles/styles.scss';

.search-bar :global {
  display: flex;
  align-items: center;
  width: 480px;
  height: 56px;

  @include box-mixin;

  img {
    margin-left: 32px;
    width: 18px;
  }

  input {
    background-color: transparent;
    margin-left: 24px;
    width: 395px;
    border: none;
    outline: none;
    font-size: $fontSizeDesktopL;
  }

  @media (max-width: 580px) {
    justify-content: center;
    width: 80vw;

    input {
      width: 100%;
    }
  }
  @media (max-width: 450px) {
    justify-content: center;
    width: 343px;
  }
}
